* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  top: 0;
}
header .headerInner {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
header .headerInner .cartImageClass > img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .headerInner .userImageClass {
  filter: none !important;
}
header .headerInner .desktopNav {
  background-color: white;
  color: black;
  margin: 2rem;
  background-color: transparent;
}
header .headerInner .desktopNav ul {
  text-align: center;
  margin-bottom: 0;
}
header .headerInner .desktopNav ul li {
  display: inline-block;
}
header .headerInner .desktopNav ul li a {
  color: #666;
  display: block;
  padding: 1em 1.25em;
  transition: all 250ms ease;
  will-change: filter;
}
header .headerInner .desktopNav ul li a:hover,
header .headerInner .desktopNav ul li a:focus {
  color: #222;
}
header .headerInner .desktopNav ul:hover a {
  filter: blur(1px);
  color: #999;
}
header .headerInner .desktopNav ul:hover a:hover {
  filter: blur(0px);
}
header .headerInner .desktopNav ul li a {
  color: black;
  filter: drop-shadow(0px 0px 10px rgba(164, 164, 164, 0.6039215686));
  background-color: transparent;
  text-decoration: none;
}
header .headerInner .isShowNavActive button svg {
  color: white;
}
header .headerInner .burgerMenuButton {
  position: relative;
  z-index: 20;
}
header .headerInner .burgerMenuButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .headerInner .burgerMenuButton button svg {
  font-size: 30px;
}
header .headerInner .showMobileNav {
  transform: translateX(0) !important;
  transition: transform 0.3s ease;
}
header .headerInner .mobilenav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8078431373);
  transform: translateX(1000%);
  transition: transform 0.3s ease;
}
header .headerInner .mobilenav ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
header .headerInner .mobilenav ul li a {
  color: white;
  text-decoration: none;
}
header .headerInner .searchBox {
  height: 40px;
  background: rgba(128, 128, 128, 0.329);
  line-height: 40px;
  padding: 5px;
  border-radius: 60px;
}
header .headerInner .searchInput {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  border-radius: 60px;
  float: left;
  font-size: 14px;
  transition: 0.7s ease;
  font-family: sans-serif;
}
header .headerInner .searchInput::-moz-placeholder {
  color: white;
}
header .headerInner .searchInput::placeholder {
  color: white;
}
header .headerInner .searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.329) grey;
  padding: 12px;
  border-radius: 50%;
  float: right;
  color: white;
  transition: 0.4s ease;
}
header .headerInner .searchBox:hover > .searchInput {
  width: 240px;
  padding: 0px 10px 0px 10px;
  margin: 0px 8px;
}
header .headerInner .searchInput:focus {
  width: 240px;
  margin: 0px 8px;
}
header .headerInner .searchBox:hover > .searchBtn {
  background: #fff;
  color: black;
}
header .headerInner .searchInput:focus + .searchBtn {
  color: black;
  background: #fff;
}

.heroSection {
  background-image: url("../../assets/carousel1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
  background-position: center 35px;
  width: 100%;
  transform: translateZ(-1px);
}
.heroSection .parralexSection {
  position: relative;
  width: 100%;
  height: 100%;
}
.heroSection .parralexSection img {
  position: absolute;
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.marginTop {
  margin-top: 70px;
}

.bodyClass {
  background-image: url(../../assets/Sprinkle.svg);
}

.cartItemDescContainer {
  height: calc(100vh - 70px);
}
.cartItemDescContainer .ItemPicture {
  display: flex;
  justify-content: center;
}
.cartItemDescContainer .ItemPicture img {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cartItemDescContainer .cartItemDescInner {
  scroll-snap-type: y mandatory;
  height: 100%;
  overflow-y: scroll;
}
.cartItemDescContainer .cartItemDescInner .section {
  height: 100%;
  scroll-snap-align: start;
}
.cartItemDescContainer .cartItemDescInner .cartDescHeading {
  font-size: 80px;
  text-align: center;
}

.cartItemWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.cartItemWrapper .containerItem {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 20em;
  height: 20em;
  margin-inline: auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}
.cartItemWrapper .containerItem:hover img {
  transform: translate(150px, 70px) scale(1.4);
}
.cartItemWrapper .containerItem:hover .itemInfo {
  transform: translateX(0px);
}
.cartItemWrapper .containerItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  transition: all 0.75s;
}
.cartItemWrapper .containerItem .itemInfo {
  width: 12em;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5137254902), 60%, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.75s;
  transform: translateX(-300px);
}
.cartItemWrapper .containerItem .itemInfo .itemInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-left: 10px;
  height: 100%;
}
.cartItemWrapper .containerItem .itemInfo h5 {
  color: white;
}
.cartItemWrapper .containerItem .itemInfo p {
  color: white;
}
.cartItemWrapper .containerItem .itemInfo .itemSize {
  display: flex;
  gap: 5px;
}
.cartItemWrapper .containerItem .itemInfo .itemSize .radioSizeButton label {
  border: 1px solid rgb(186, 186, 186);
  cursor: pointer;
  padding: 5px;
  color: white;
}
.cartItemWrapper .containerItem .itemInfo .itemSize .radioSizeButton input {
  display: none;
}
.cartItemWrapper .containerItem .itemInfo .itemSize .radioSizeButton input[type=radio]:checked + label {
  background-color: white;
  color: black;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button {
  --background: white;
  --text: #fff;
  --cart: #fff;
  position: relative;
  border: 1px solid var(--background);
  background: none;
  padding: 8px 28px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 144px;
  color: var(--text);
  transform: scale(var(--scale, 1));
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button:active {
  --scale: 0.95;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform 0.7s ease;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button span:before,
.cartItemWrapper .containerItem .itemInfo .addToCart .button span:after {
  content: "";
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  transition: transform 0.65s ease 0.05s;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart:before,
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart:after {
  content: "";
  position: absolute;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 var(--cart));
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button.loading {
  --scale: 0.95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: 0.8s;
  --offset: 0;
  --offset-d: 1.73s;
}
.cartItemWrapper .containerItem .itemInfo .addToCart .button.loading .cart {
  animation: cart 3.4s linear forwards 0.2s;
}
@keyframes cart {
  12.5% {
    transform: translateX(-60px) rotate(-18deg);
  }
  25%, 45%, 55%, 75% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  44%, 56% {
    transform-origin: 12px 23px;
  }
  45%, 55% {
    transform-origin: 50% 50%;
  }
  87.5% {
    transform: translateX(70px) rotate(-18deg);
  }
  100% {
    transform: translateX(140px) rotate(-18deg);
  }
}

.headingComponent {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.headingComponent .character {
  padding: 0 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: rgba(255, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 700;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("../../assets/clothBackground.jpg");
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}

.logo img {
  width: 134px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 60px;
}

.productViewButton {
  color: white;
  border: 1px solid white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 140px;
  height: 38px;
}

@media (max-width: 575px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .searchBox {
    display: none;
  }
  .headerInner {
    margin-left: 20px;
    margin-right: 20px;
  }
  .character {
    font-size: 50px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .character {
    font-size: 100px;
  }
  .searchBox {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .searchBox {
    display: block;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=globals.css.map */