* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;

}

@mixin addToCart() {
    .addToCart {

        .button {
            --background: white;
            --text: #fff;
            --cart: #fff;
            // --tick: var(--background);
            position: relative;
            border: 1px solid var(--background);
            background: none;
            padding: 8px 28px;
            border-radius: 8px;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-mask-image: -webkit-radial-gradient(white, black);
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            min-width: 144px;
            color: var(--text);
            // background: var(--background);
            transform: scale(var(--scale, 1));
            transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
        }

        .button:active {
            --scale: 0.95;
        }

        .button span {
            font-size: 14px;
            font-weight: 500;
            display: block;
            position: relative;
            padding-left: 24px;
            margin-left: -8px;
            line-height: 26px;
            transform: translateY(var(--span-y, 0));
            transition: transform 0.7s ease;
        }

        .button span:before,
        .button span:after {
            content: '';
            width: var(--w, 2px);
            height: var(--h, 14px);
            border-radius: 1px;
            position: absolute;
            left: var(--l, 8px);
            top: var(--t, 6px);
            background: currentColor;
            transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
            transition: transform 0.65s ease 0.05s;
        }

        .button span:after {
            --w: 14px;
            --h: 2px;
            --l: 2px;
            --t: 12px;
        }

        .button .cart {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -13px 0 0 -18px;
            transform-origin: 12px 23px;
            transform: translateX(-120px) rotate(-18deg);
        }

        .button .cart:before,
        .button .cart:after {
            content: '';
            position: absolute;
        }

        .button .cart:before {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 2px var(--cart);
            bottom: 0;
            left: 9px;
            filter: drop-shadow(11px 0 0 var(--cart));
        }

        .button .cart:after {
            width: 16px;
            height: 9px;
            background: var(--cart);
            left: 9px;
            bottom: 7px;
            transform-origin: 50% 100%;
            transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
            transition: transform 1.2s ease var(--fill-d);
        }

        .button .cart svg {
            z-index: 1;
            width: 36px;
            height: 26px;
            display: block;
            position: relative;
            fill: none;
            stroke: var(--cart);
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        .button .cart svg polyline:last-child {
            stroke: var(--tick);
            stroke-dasharray: 10px;
            stroke-dashoffset: var(--offset, 10px);
            transition: stroke-dashoffset 0.4s ease var(--offset-d);
        }

        .button.loading {
            --scale: 0.95;
            --span-y: -32px;
            --icon-r: 180deg;
            --fill: 1;
            --fill-d: 0.8s;
            --offset: 0;
            --offset-d: 1.73s;
        }

        .button.loading .cart {
            animation: cart 3.4s linear forwards 0.2s;
        }

        @keyframes cart {
            12.5% {
                transform: translateX(-60px) rotate(-18deg);
            }

            25%,
            45%,
            55%,
            75% {
                transform: none;
            }

            50% {
                transform: scale(0.9);
            }

            44%,
            56% {
                transform-origin: 12px 23px;
            }

            45%,
            55% {
                transform-origin: 50% 50%;
            }

            87.5% {
                transform: translateX(70px) rotate(-18deg);
            }

            100% {
                transform: translateX(140px) rotate(-18deg);
            }
        }
    }

}

header {
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    top: 0;
    // height: 70px;

    .headerInner {
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;

        .cartImageClass>img {
            width: 25px;
            height: 25px;
            object-fit: contain;
        }

        .userImageClass {
            filter: none !important;
        }

        // .userImageClass {
        //     filter: none;
        // }

        .desktopNav {


            background-color: white;
            // border-top: 1px solid #ddd;
            // border-bottom: 1px solid #ddd;
            color: black;
            margin: 2rem;

            background-color: transparent;

            ul {
                text-align: center;
                margin-bottom: 0;
            }

            ul li {
                display: inline-block;
            }

            ul li a {
                color: #666;
                display: block;
                // font-size: 1.25rem;
                // font-weight: bold;
                padding: 1em 1.25em;
                transition: all 250ms ease;
                will-change: filter;
            }

            ul li a:hover,
            ul li a:focus {
                color: #222;
            }

            ul:hover a {
                filter: blur(1px);
                color: #999;
            }

            ul:hover a:hover {
                filter: blur(0px);
            }


            ul {
                li {
                    a {
                        color: black;
                        // font-size: 20px;
                        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        filter: drop-shadow(0px 0px 10px #a4a4a49a);
                        background-color: transparent;
                        text-decoration: none;
                    }
                }
            }
        }

        .isShowNavActive {
            button {
                svg {
                    color: white;
                }
            }
        }

        .burgerMenuButton {
            position: relative;
            z-index: 20;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;

                svg {
                    font-size: 30px;

                }
            }
        }

        .showMobileNav {
            transform: translateX(0) !important;
            transition: transform 0.3s ease;
        }

        .mobilenav {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;

            width: 100%;
            background-color: #000000ce;
            transform: translateX(1000%);
            transition: transform 0.3s ease;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;

                justify-content: center;
                flex-direction: column;
                gap: 20px;

                li {
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }

        .searchBox {

            height: 40px;
            background: rgba(128, 128, 128, 0.329);
            line-height: 40px;
            padding: 5px;
            // padding: 5px 10px 5px 10px;
            border-radius: 60px;
        }

        .searchInput {
            background: transparent;
            color: #fff;
            outline: none;
            border: none;
            line-height: 40px;
            width: 0px;
            border-radius: 60px;
            float: left;
            font-size: 14px;
            transition: 0.7s ease;
            font-family: sans-serif;

            &::placeholder {
                color: white;
            }
        }

        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: rgba(128, 128, 128, 0.329)grey;
            padding: 12px;
            border-radius: 50%;
            float: right;
            color: white;
            transition: 0.4s ease;
        }

        .searchBox:hover>.searchInput {
            width: 240px;
            padding: 0px 10px 0px 10px;
            margin: 0px 8px;
        }

        .searchInput:focus {
            width: 240px;
            margin: 0px 8px;
        }

        .searchBox:hover>.searchBtn {
            background: #fff;
            color: black;
        }

        .searchInput:focus+.searchBtn {
            color: black;
            background: #fff;
        }
    }
}

body {
    // transform-style: preserve-3d;
    // overflow-x: hidden;
    // overflow-y: scroll;
}


.heroSection {
    background-image: url('../../assets/carousel1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    height: 450px;
    background-position: center 35px;
    width: 100%;
    transform: translateZ(-1px);

    .parralexSection {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            width: 300px;
            height: 300px;
            object-fit: contain;
        }
    }

}


.marginTop {
    margin-top: 70px;
}


.bodyClass {
    background-image: url(../../assets/Sprinkle.svg);
}


.cartItemDescContainer {
    height: calc(100vh - 70px);
    // overflow-y: hidden;
}

.ItemPicture {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -25%);
    // display: flex;
    // justify-content: center;

    img {
        width: 400px;
        object-fit: contain;
    }
}

.cartItemDescInner {
    height: calc(100vh);

    //  scroll-snap-type: y mandatory;
    //  overflow-y: scroll;
    .section {
        height: 100%;
        // scroll-snap-align: start;
    }

    .cartDescHeading {
        font-size: 80px;
        text-align: center;
        padding-top: 80px;
    }

}



.cartItemWrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;

    .containerItem {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        width: 20em;
        height: 20em;
        margin-inline: auto;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #fff;


        &:hover {
            img {
                transform: translate(150px, 70px) scale(1.4);
            }

            .itemInfo {
                transform: translateX(0px);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: top center;
            transition: all 0.75s;
            // mix-blend-mode: darken;
        }

        .itemInfo {
            width: 12em;
            height: 100%;
            background-image: linear-gradient(to right, #00000083, 60%, rgba(255, 255, 255, 0));
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.75s;
            transform: translateX(-300px);

            .itemInfoWrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                // align-items: center;
                justify-content: center;
                margin-left: 10px;
                height: 100%;
            }

            h5 {
                color: white;
            }

            p {
                color: white;
            }

            .itemSize {
                display: flex;
                gap: 5px;

                .radioSizeButton {
                    label {
                        border: 1px solid rgb(186, 186, 186);
                        cursor: pointer;
                        padding: 5px;
                        color: white;

                    }

                    input {
                        display: none;
                    }

                    input[type="radio"]:checked+label {
                        background-color: white;
                        color: black;
                    }

                }
            }

            // .addToCart{
            //     cursor: pointer;
            //     padding: 5px 20px;
            // }
            @include addToCart();


        }

    }
}

.loadingMain{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @keyframes ldio-zgqx5dp1h49 {
        0% { transform: translate(12px,80px) scale(0); }
       25% { transform: translate(12px,80px) scale(0); }
       50% { transform: translate(12px,80px) scale(1); }
       75% { transform: translate(80px,80px) scale(1); }
      100% { transform: translate(148px,80px) scale(1); }
     }
     @keyframes ldio-zgqx5dp1h49-r {
        0% { transform: translate(148px,80px) scale(1); }
      100% { transform: translate(148px,80px) scale(0); }
     }
     @keyframes ldio-zgqx5dp1h49-c {
        0% { background: #4658ac }
       25% { background: #ff6d00 }
       50% { background: #ff003a }
       75% { background: #e7008a }
      100% { background: #4658ac }
     }
     .ldio-zgqx5dp1h49 div {
       position: absolute;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       transform: translate(80px,80px) scale(1);
       background: #4658ac;
       animation: ldio-zgqx5dp1h49 1s infinite cubic-bezier(0,0.5,0.5,1);
     }
     .ldio-zgqx5dp1h49 div:nth-child(1) {
       background: #e7008a;
       transform: translate(148px,80px) scale(1);
       animation: ldio-zgqx5dp1h49-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-zgqx5dp1h49-c 1s infinite step-start;
     }.ldio-zgqx5dp1h49 div:nth-child(2) {
       animation-delay: -0.25s;
       background: #4658ac;
     }.ldio-zgqx5dp1h49 div:nth-child(3) {
       animation-delay: -0.5s;
       background: #e7008a;
     }.ldio-zgqx5dp1h49 div:nth-child(4) {
       animation-delay: -0.75s;
       background: #ff003a;
     }.ldio-zgqx5dp1h49 div:nth-child(5) {
       animation-delay: -1s;
       background: #ff6d00;
     }
     .loadingio-spinner-ellipsis-uousidw2og {
       width: 200px;
       height: 200px;
       display: inline-block;
       overflow: hidden;
       background: none;
     }
     .ldio-zgqx5dp1h49 {
       width: 100%;
       height: 100%;
       position: relative;
       transform: translateZ(0) scale(1);
       backface-visibility: hidden;
       transform-origin: 0 0; 
     }
     .ldio-zgqx5dp1h49 div { box-sizing: content-box; }
}









.headingComponent {
    text-align: center;
    display: flex;
    justify-content: center;
    // font-size: 30px;
    margin-bottom: 20px;
    // font-weight: 700;

    .character {
        padding: 0 4px;
        user-select: none;
        color: rgba(255, 0, 0, 0.1);
        text-transform: uppercase;
        font-weight: 700;
        // background-size: 160px;
        // background-attachment: fixed;
        background-position: right;

        background-image: url('../../assets/clothBackground.jpg');
        -webkit-background-clip: text;
        animation: background-text-animation 15s linear infinite;
    }
}

.logo {
    img {
        width: 134px;
        object-fit: contain;
        height: 60px;
    }
}



.productViewButton {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    // vertical-align:middle;
    width: 140px;
    height: 38px;
}

// .LoginMain{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.LoginMain {
    .fas {
        width: 32px;
    }

    section {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .box {
        position: relative;

        .square {
            position: absolute;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 15px;
            animation: square 10s linear infinite;
            animation-delay: calc(-1s * var(--i));
        }

        @keyframes square {

            0%,
            100% {
                transform: translateY(-20px);
            }

            50% {
                transform: translateY(20px);
            }
        }

        .square:nth-child(1) {
            width: 100px;
            height: 100px;
            top: -15px;
            right: -45px;
        }

        .square:nth-child(2) {
            width: 150px;
            height: 150px;
            top: 105px;
            left: -125px;
            z-index: 2;
        }

        .square:nth-child(3) {
            width: 60px;
            height: 60px;
            bottom: 85px;
            right: -45px;
            z-index: 2;
        }

        .square:nth-child(4) {
            width: 50px;
            height: 50px;
            bottom: 35px;
            left: -95px;
        }

        .square:nth-child(5) {
            width: 50px;
            height: 50px;
            top: -15px;
            left: -25px;
        }

        .square:nth-child(6) {
            width: 85px;
            height: 85px;
            top: 165px;
            right: -155px;
            z-index: 2;
        }
    }

    .container {
        position: relative;
        padding: 50px;
        width: 260px;
        min-height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    }

    .container::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border-radius: 5px;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
    }

    .form {
        position: relative;
        width: 100%;
        height: 100%;

        h2 {
            color: #fff;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }
         .invalidInput{
                color: red;
            }

        .inputBx {
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            input {
                width: 100%;
                outline: none;
                max-width: 228px;
                border: none;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: rgba(255, 255, 255, 0.2);
                padding: 8px 10px;
                padding-left: 20px;
                border-radius: 15px;
                color: #fff;
                font-size: 16px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            }

            .password-control {
                position: absolute;
                top: 8px;
                right: 10px;
                display: inline-block;
                cursor: pointer;
                width: 20px;
                border: none;
                height: 20px;
                background-color: transparent;
                transition: 0.5s;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            .view {
                background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
                transition: 0.5s;
            }



            .fas {
                position: absolute;
                top: 13px;
                left: 13px;
            }
           

            .signInButton {
                width: 100%;
                outline: none;
                border: none;
                border-radius: 15px;
                font-size: 16px;
                background: #fff;
                color: #111;
                padding: 8px 10px;
                box-shadow: none;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 1.5s;
            }

            .signInButton:hover {
                background: linear-gradient(115deg,
                        rgba(0, 0, 0, 0.10),
                        rgba(255, 255, 255, 0.25));
                color: #fff;
                transition: .5s;
            }

            .buttonDisabled{
                background-color: grey;
                cursor:default ;
                &:hover{
                    background-color: grey;
                }
            }

            input::placeholder {
                color: #fff;
            }

            span {
                position: absolute;
                left: 15px;
                padding: 10px;
                display: inline-block;
                color: #fff;
                transition: .5s;
                pointer-events: none;
            }

            input:focus~span,
            input:valid~span {
                transform: translateX(-30px) translateY(-25px);
                font-size: 12px;
            }
        }

        p {
            color: #fff;
            font-size: 15px;
            margin-top: 5px;

            a {
                color: #fff;
            }

            a:hover {
                background-color: #000;
                background-image: linear-gradient(to right, #434343 0%, black 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .remember {
        position: relative;
        display: inline-block;
        color: #fff;
        margin-bottom: 10px;
        cursor: pointer;
    }
}




@media (max-width: 575px) {
    .container {

        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;

    }

    .searchBox {
        display: none;
    }

    .headerInner {
        margin-left: 20px;
        margin-right: 20px;
    }

    .character {
        font-size: 50px;

    }

    .cartItemDescInner .cartDescHeading {
        font-size: 37px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .character {
        font-size: 100px;

    }

    .searchBox {
        display: none;
    }
}


@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .searchBox {
        display: block;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}