* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: relative;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .headerInner {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
header .headerInner .desktopNav {
  background-color: white;
  color: black;
  margin: 2rem;
}
header .headerInner .desktopNav ul {
  text-align: center;
  margin-bottom: 0;
}
header .headerInner .desktopNav ul li {
  display: inline-block;
}
header .headerInner .desktopNav ul li a {
  color: #666;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1em 1.25em;
  transition: all 250ms ease;
  will-change: filter;
}
header .headerInner .desktopNav ul li a:hover,
header .headerInner .desktopNav ul li a:focus {
  color: #222;
}
header .headerInner .desktopNav ul:hover a {
  filter: blur(1px);
  color: #999;
}
header .headerInner .desktopNav ul:hover a:hover {
  filter: blur(0px);
}
header .headerInner .desktopNav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
header .headerInner .desktopNav ul li a {
  color: black;
  font-size: 20px;
  filter: drop-shadow(5px 5px 10px rgba(85, 85, 85, 0.6039215686));
  background-color: transparent;
  text-decoration: none;
}
header .headerInner .isShowNavActive button svg {
  color: white;
}
header .headerInner .burgerMenuButton {
  position: relative;
  z-index: 20;
}
header .headerInner .burgerMenuButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .headerInner .burgerMenuButton button svg {
  font-size: 30px;
}
header .headerInner .showMobileNav {
  transform: translateX(0) !important;
  transition: transform 0.3s ease;
}
header .headerInner .mobilenav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5960784314);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
header .headerInner .mobilenav ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
header .headerInner .mobilenav ul li a {
  color: white;
  text-decoration: none;
}
header .headerInner .searchBox {
  height: 40px;
  background: rgba(128, 128, 128, 0.329);
  line-height: 40px;
  padding: 5px;
  border-radius: 60px;
}
header .headerInner .searchInput {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  border-radius: 60px;
  float: left;
  font-size: 14px;
  transition: 0.7s ease;
  font-family: sans-serif;
}
header .headerInner .searchInput::-moz-placeholder {
  color: white;
}
header .headerInner .searchInput::placeholder {
  color: white;
}
header .headerInner .searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.329) grey;
  padding: 12px;
  border-radius: 50%;
  float: right;
  color: white;
  transition: 0.4s ease;
}
header .headerInner .searchBox:hover > .searchInput {
  width: 240px;
  padding: 0px 10px 0px 10px;
  margin: 0px 8px;
}
header .headerInner .searchInput:focus {
  width: 240px;
  margin: 0px 8px;
}
header .headerInner .searchBox:hover > .searchBtn {
  background: #fff;
  color: black;
}
header .headerInner .searchInput:focus + .searchBtn {
  color: black;
  background: #fff;
}

.carousel-container .swiper {
  z-index: 1;
}
.carousel-container .carouselSlider img {
  width: 100%;
}

.cartItemWrapper {
  display: flex;
  flex-wrap: wrap;
}
.cartItemWrapper .containerItem {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 20em;
  height: 20em;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}
.cartItemWrapper .containerItem:hover img {
  transform: translate(150px, 30px) scale(1.4);
}
.cartItemWrapper .containerItem:hover .itemInfo {
  transform: translateX(0px);
}
.cartItemWrapper .containerItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  transition: all 0.75s;
}
.cartItemWrapper .containerItem .itemInfo {
  width: 12em;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5137254902), 60%, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.75s;
  transform: translateX(-300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartItemWrapper .containerItem .itemInfo h5 {
  color: white;
}
.cartItemWrapper .containerItem .itemInfo p {
  color: white;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=globals.css.map */